.full-width {
    width: 100%;
     }
     
     .center-button {
    text-align: center;
    padding-left: .5em;
    min-width: 0.5rem;
    max-width: 0.5rem;
     }
     
     .center-text {
    text-align: center;
     }
     
     .center {
    display: flex;
    justify-content: center;
     }
     .penInput {
      min-width:3rem;
      max-width: 6rem;
    }
   
    .img-width{
     max-width: 400px;
     
    }
   
    .addBtn{
     /* height:20px;  */
     position:relative; 
     margin: -20px -50px; 
     width:100px; 
     top:50%; 
     left:50%;
    }
   
    .backBtn{
     left:80%;
    }