<mat-toolbar>
    <mat-toolbar-row>
        <span>Activity Detail</span>
        <button mat-raised-button color="primary" class="backBtn" (click)="back()">
                Back
            </button>
    </mat-toolbar-row>
</mat-toolbar>
<form style="margin-left: 1em">
    <mat-form-field class="full-width">
        <input matInput placeholder="ID" [value]="student?.studentId" readonly>
    </mat-form-field>
    <table class="full-width" cellspacing="0">

        <mat-form-field class="full-width">
            <input matInput placeholder="Name" [value]="currentUser?.name" readonly>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Date" [value]="currentUser?.surname" readonly>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Host" class="center-text" [value]="host" readonly>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="location" class="center-text" [value]="location" readonly>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Period" class="center-text" [value]="period" readonly>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Enrolled Students" class="center-text" [value]="student" readonly>
        </mat-form-field>

        <mat-form-field class="full-width">
            <textarea matInput placeholder="Description" [value]="description" readonly></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
            <textarea matInput placeholder="Comment" [value]="comment" readonly></textarea>
        </mat-form-field>


        <button mat-raised-button color="primary" (click)="toggle()" >
            {{buttonName}}
        </button>

        <div class="full-width" *ngIf="show">
            <div>
                <label>Comment:</label>
                <mat-form-field class="full-width">
                        <input matInput placeholder="Comment">

                </mat-form-field>

                <mat-file-upload [labelText]="'Select your images:'" [selectButtonText]="'Choose File'"
                            [uploadButtonText]="'Submit'" [allowMultipleFiles]="false" [showUploadButton]="true"
                            [acceptedTypes]="'.png, .jpg, .jpeg'" [customSvgIcon]="'close_custom'"
                            (uploadClicked)="onUploadClicked($event)"
                            (selectedFilesChanged)="onSelectedFilesChanged($event)"></mat-file-upload>
                        <mat-progress-bar mode="determinate" [value]="progress" *ngIf="progress > 0"></mat-progress-bar>
                
            </div>
            <button mat-raised-button color="primary" class="addBtn">
                    Add
                </button>
        </div>

    </table>
</form>