.topright {
    position: absolute;
    top: 0px;
    right: 16px;
    font-size: 18px;
  }
.image { 
  border-radius: 50%;
  padding: 5px;
  width: 50px;
}
.profileImage{
  border-radius: 50%;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.imgBtn {
  top: 30px;
  right: 50px;
}

.menu{
  width: 250px;
}

.notification-row{
  text-align: center;
  margin: auto;
}

.notification-row3{
  text-align: center;

}

.button {
  padding: 0px 24px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: auto;
  cursor: pointer;
 
}

.button1 {
  background-color: white;
  color: black;
 
  /* margin: auto; */
  /* width: 80%; */
}
.button1:hover {background-color: #e7e7e7;}