<mat-card class="register-card">
    <mat-card-header>
        <mat-card-title>Manage your profile</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form class="">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="register-card">
                            <input matInput placeholder="Name" [(ngModel)]="name" name="name" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="register-card">
                            <input matInput placeholder="Surname" [(ngModel)]="surname" name="surname" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-file-upload [labelText]="'Select your images:'" [selectButtonText]="'Choose File'"
                            [uploadButtonText]="'Submit'" [allowMultipleFiles]="false" [showUploadButton]="true"
                            [acceptedTypes]="'.png, .jpg, .jpeg'" [customSvgIcon]="'close_custom'"
                            (uploadClicked)="onUploadClicked($event)"
                            (selectedFilesChanged)="onSelectedFilesChanged($event)"></mat-file-upload>
                        <mat-progress-bar mode="determinate" [value]="progress" *ngIf="progress > 0"></mat-progress-bar>

                    </td>
                </tr>

            </table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="edit()">Confirm</button>
        <button mat-raised-button color="primary" (click)="back()" >Cancel</button>
    </mat-card-actions>
</mat-card>