<mat-card class="register-card">
    <mat-card-header>
        <mat-card-title>Edit Information</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form class="">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="register-card">
                            <input matInput  placeholder="New Name" [(ngModel)]="name" name="name" >
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="register-card">
                            <input matInput placeholder="New Surname" [(ngModel)]="surname" name="surname" >
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="register-card">
                            <input matInput placeholder="New Student's image" [(ngModel)]="image" name="image" >
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="New Date of Birth" [(ngModel)]="birthday"
                            name="birthday" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="register-card">
                            <input matInput placeholder="New Student ID" [(ngModel)]="studentId" name="studentId" >
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="register-card">
                            <input matInput placeholder="New Email" [(ngModel)]="email" name="email" >
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="register-card">
                            <input matInput placeholder="New Password" [(ngModel)]="password" name="password"
                                type="password" >
                        </mat-form-field>
                    </td>
                </tr>

            </table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="update()">Update</button>
       
    </mat-card-actions>
</mat-card>